<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ò–≥–æ—Ä—å, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, –∏ —è –±—É–¥—É —Ä–µ–≤—å—é–µ—Ä–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. 

–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å —Ä–µ–≤—å—é - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ—ë –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

# –ò—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥.

–ù—É–∂–Ω–∞ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ —á—Ç–æ –±—ã —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.  
  
  - –ü–µ—Ä–≤—ã–π —ç—Ç–∞–ø - –∏–∑—É—á–µ–Ω–∏–µ –æ–±—â–∏–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏.
  - –í—Ç–æ—Ä–æ–π —ç—Ç–∞–ø - –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑.
  - –¢—Ä–µ—Ç–∏–π —ç—Ç–∞–ø - –≤—ã–≤–æ–¥—ã. 
  
–°—Ä–µ–¥–∏ –¥–∞–Ω–Ω—ã—Ö —É –Ω–∞—Å –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥.

–¢–∞–±–ª–∏—Ü–∞ books —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

–¢–∞–±–ª–∏—Ü–∞ authors —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

–¢–∞–±–ª–∏—Ü–∞ publishers —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

–¢–∞–±–ª–∏—Ü–∞ ratings —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

–¢–∞–±–ª–∏—Ü–∞ reviews —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:

- review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
- text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

##   –ò–∑—É—á–µ–Ω–∏–µ –æ–±—â–∏–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!
    
–°–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞–µ—à—å —è–¥—Ä–æ –ø—Ä–æ–µ–∫—Ç–∞ –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –Ω–∞ —Ä–µ–≤—å—é - —ç—Ç–æ –≤–∞–∂–Ω—ã–π —à–∞–≥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–æ—Å—Ç—ã—Ö –∏ –¥–æ—Å–∞–¥–Ω—ã—Ö –æ—à–∏–±–æ–∫ –ø—Ä–∏ –≤–æ—Å–ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–∏ —Ä–µ—à–Ω–µ–∏—è:)
</div>

In [3]:
#pd.io.sql.read_sql(query, con = engine)

In [4]:
query = '''
           SELECT * FROM books
       '''
books = pd.io.sql.read_sql(query, con = engine) 
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
query = '''
           SELECT * FROM authors
       '''
authors = pd.io.sql.read_sql(query, con = engine) 
authors.head()

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [6]:
query = '''
           SELECT * FROM publishers
       '''
publishers = pd.io.sql.read_sql(query, con = engine)
publishers.head()

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [7]:
query = '''
           SELECT * FROM ratings
       '''
ratings = pd.io.sql.read_sql(query, con = engine)  
ratings.head()

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [8]:
query = '''
           SELECT * FROM reviews
       '''
reviews = pd.io.sql.read_sql(query, con = engine)  
reviews.head()

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ï—Å—Ç—å –¥—É–±–ª–∏—Ä—É—é—â–∏–π—Å—è –∫–æ–¥ - —Ç—ã –≤—ã–ø–æ–ª–Ω—è–µ—à—å –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –∑–∞–ø—Ä–æ—Å, –º–µ–Ω—è—è –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü. –î–∞–≤–∞–π –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å —ç—Ç–æ—Ç –ø—Ä–æ—Ü–µ—Å—Å —á–µ—Ä–µ–∑ —Ü–∏–∫–ª? –ü–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é `f-—Å—Ç—Ä–æ–∫–∏` –∏–ª–∏ –º–µ—Ç–æ–¥–∞ `format()`. –°–∞–º—É —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ —Ü–∏–∫–ª–∞ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏.

</div>

## –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑

- –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

In [9]:
query = '''
           SELECT COUNT(book_id) 
           FROM books
           WHERE EXTRACT(YEAR FROM CAST(publication_date AS date)) >= 2000

       '''
data = pd.io.sql.read_sql(query, con = engine)
data

   count
0    821

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.

In [10]:
query = '''
           SELECT r.book_id,
                  title,
                  COUNT(DISTINCT review_id) AS review_count, 
                  AVG(rating) AS rating_avg
           FROM ratings AS r
           LEFT JOIN reviews AS o ON o.book_id=r.book_id
           LEFT JOIN books AS b ON r.book_id=b.book_id
           GROUP BY r.book_id, title
           ORDER BY COUNT(review_id) DESC
       '''
data_1 = pd.io.sql.read_sql(query, con = engine)
data_1.head(10)

,book_id,title,review_count,rating_avg
0,948,Twilight (Twilight #1),7,3.662500
1,750,The Hobbit or There and Back Again,6,4.125000
2,673,The Catcher in the Rye,6,3.825581
3,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
4,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
5,75,Angels & Demons (Robert Langdon #1),5,3.678571
6,301,Harry Potter and the Order of the Phoenix (Har...,5,4.186667
7,779,The Lightning Thief (Percy Jackson and the Oly...,6,4.080645
8,722,The Fellowship of the Ring (The Lord of the Ri...,5,4.391892
9,79,Animal Farm,5,3.729730

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ù–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ - —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∑—è—Ç—å –∫–Ω–∏–≥—É –∏–∑ –ø–µ—Ä–≤–æ–π –ø–æ–∑–∏—Ü–∏–∏ —Ç–≤–æ–µ–≥–æ –æ—Ç–≤–µ—Ç–∞ –∏ —Å–≤–µ—Ä–∏—Ç—å —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` - –±—É–¥–µ—Ç –ª–∏ —Å—Ö–æ–¥–∏—Ç—å—Å—è —á–∏—Å–ª–æ –æ—Ç–∑—ã–≤–æ–≤?
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

- –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

In [11]:
query = '''
           SELECT p.publisher,
                  COUNT(DISTINCT b.book_id)
           FROM books AS b
           LEFT JOIN publishers AS p ON b.publisher_id=p.publisher_id
           LEFT JOIN ratings AS r ON b.book_id=r.book_id
           WHERE num_pages > 50
           GROUP BY p.publisher
           ORDER BY COUNT(b.book_id) DESC
       '''
data_2 = pd.io.sql.read_sql(query, con = engine)
data_2.head(1)

       publisher  count
0  Penguin Books     42

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ë—ã–ª–æ –±—ã –∑–¥–æ—Ä–æ–≤–æ —Ç–∞–∫–∂–µ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.
        </div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

- –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥.


–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [12]:
query = '''
           WITH 
           avg_r AS 
           (SELECT a.author_id,
                   b.book_id,
                   COUNT(DISTINCT rating_id)
           FROM ratings AS r
           LEFT JOIN books AS b ON r.book_id=b.book_id
           LEFT JOIN authors AS a ON b.author_id=a.author_id
           GROUP BY a.author_id, b.book_id
           HAVING COUNT(rating_id) >= 50
           ORDER BY COUNT(rating_id) DESC)

           SELECT a.author, 
                  AVG(rating)
           FROM avg_r AS r
           LEFT JOIN authors AS a ON r.author_id=a.author_id
           LEFT JOIN books AS b ON r.book_id=b.book_id
           LEFT JOIN ratings AS ra ON b.book_id=ra.book_id
           GROUP BY a.author
           ORDER BY AVG(rating) DESC
          
       '''
data_3 = pd.io.sql.read_sql(query, con = engine)
data_3.head(1)

                       author       avg
0  J.K. Rowling/Mary GrandPr√©  4.287097

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–°–∞–º –∞–≤—Ç–æ—Ä –Ω–∞–π–¥–µ–Ω –≤–µ—Ä–Ω–æ, –Ω–æ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –æ–ø—Ä–µ–¥–µ–ª—è—é—â–∏–º —è–≤–ª—è–µ—Ç—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥–∞ - –∏–º–µ–Ω–Ω–æ –≤ –µ–≥–æ —Ä–∞—Å—á—ë—Ç–∞—Ö –ø–æ—è–≤–ª—è—é—Ç—Å—è –æ—à–∏–±–∫–∏. –ï–≥–æ —Å—Ç–æ–∏—Ç —Ç–∞–∫–∂–µ –≤—ã–≤–µ—Å—Ç–∏ –≤ –∑–∞–ø—Ä–æ—Å–µ.
    
–ü–æ —É—Å–ª–æ–≤–∏—é –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∞–≤—Ç–æ—Ä–∞, —É —á—å–∏—Ö –∫–Ω–∏–≥ –æ—Ç 50 –æ—Ü–µ–Ω–æ–∫. –ß–∞—Å—Ç–æ –≤ —Å–≤–æ—ë–º –∑–∞–ø—Ä–æ—Å–µ —Å—Ç—É–¥–µ–Ω—Ç—ã —Å–Ω–∞—á–∞–ª–∞ —Å—á–∏—Ç–∞—é—Ç —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥, –∞ —Ç–æ–ª—å–∫–æ –ø–æ—Ç–æ–º —á–µ—Ä–µ–∑ `HAVING` –¥–µ–ª–∞—é—Ç —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫—É. –í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –≤ –∞–≥—Ä–µ–≥–∞—Ü–∏—é –ø–æ–ø–∞–¥–∞—é—Ç –ª–∏—à–Ω–∏–µ –∫–Ω–∏–≥–∏, –∏ –∑–Ω–∞—á–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ —Å–º–µ—â–∞–µ—Ç—Å—è. 
    
–ü—Ä–∞–≤–∏–ª—å–Ω–µ–µ –±—ã–ª–æ –±—ã —Å–Ω–∞—á–∞–ª–∞ —É–∑–Ω–∞—Ç—å, –¥–ª—è –∫–∞–∫–∏—Ö –∫–Ω–∏–≥ –º—ã –º–æ–∂–µ–º —Å—á–∏—Ç–∞—Ç—å —Ä–µ–π—Ç–∏–Ω–≥, –ø–æ—Å—á–∏—Ç–∞–≤ –¥–ª—è —ç—Ç–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ –¥–ª—è –∫–Ω–∏–≥–∏ –∏ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —á–µ—Ä–µ–∑ `HAVING`. –î–∞–ª–µ–µ —É–∂–µ –ø–æ —ç—Ç–∏–º –∫–Ω–∏–≥–∞–º —Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞.
    
–ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–π –ø–æ–¥—Ö–æ–¥ - –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏, –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ —Å –Ω—É–∂–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –∏ —É–∂–µ –∏–∑ —Å—Ä–µ–¥–Ω–∏—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è –∫–Ω–∏–≥ —Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞ –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ –∏–∑ —Å—Ä–µ–¥–Ω–∏—Ö.
    
–ü–æ–ø—Ä–æ–±—É–π, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞—Ç—å —Å–≤–æ–π –∑–∞–ø—Ä–æ—Å —Å —É—á—ë—Ç–æ–º —ç—Ç–∏—Ö —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

- –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [13]:
query = '''
           WITH 
           avg_r AS 
           (SELECT r.username, 
                  COUNT(rating)
           FROM ratings AS r
           GROUP BY r.username
           HAVING COUNT(rating) > 50),
           
           avg_c AS
           (SELECT r.username,
                  COUNT(review_id)
           FROM avg_r AS r
           LEFT JOIN reviews AS o ON r.username=o.username
           GROUP BY r.username)
           
           SELECT ROUND(AVG(count))
           FROM avg_c AS —Å
       '''
data_4 = pd.io.sql.read_sql(query, con = engine)
data_4

   round
0   24.0

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–¢—É—Ç —Ç—ã –Ω–∞—à—ë–ª —Å—Ä–µ–¥–Ω–∏–π ID —Ä–µ–π—Ç–∏–Ω–≥–∞ - –ª–æ–≥–∏—á–µ—Å–∫–∏ –º–µ—Ç—Ä–∏–∫–∞ –Ω–µ–º–Ω–æ–≥–æ –±–µ—Å—Å–º—ã—Å–ª–µ–Ω–Ω–∞—è:)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

## –í—ã–≤–æ–¥—ã.

–ò—Ç–æ–≥–∏ –∏—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:
- 821 –∫–Ω–∏–≥–∞ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –í —Ç–æ–ø —Ç—Ä–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ –≤–æ—à–ª–∏ Twilight, The Hobbit or There and Back Again –∏ The Catcher in the Rye, –∏—Ö —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –Ω–µ –ø—Ä–∏–≤—ã—à–∞–µ—Ç —á–µ—Ç—ã—Ä–µ—Ö;
- Penguin Books –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥;
- J.K. Rowling/Mary GrandPr√© –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —Å—Ä–µ–¥–∏ 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –í —Å—Ä–µ–¥–Ω–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ 24 –æ–±–∑–æ—Ä–∞ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –û—Ç–ª–∏—á–Ω—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É!

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ù—É–∂–Ω–æ –±—É–¥–µ—Ç —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ –∏—Ç–æ–≥—É –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∑–∞–º–µ—á–∞–Ω–∏–π.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ò–≥–æ—Ä—å, —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –ø–æ—á—Ç–∏ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π, –æ–Ω–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–µ—Ä–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç–µ–±–µ —É–¥–∞–ª–æ—Å—å –∑–¥–æ—Ä–æ–≤–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Ç–µ–º–µ.
    
–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:)
    
–ö –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∑–∞–¥–∞–Ω–∏—è–º —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∫ –Ω–∏–º —è –æ—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞ —Å –ø–æ—è—Å–Ω–µ–Ω–∏—è–º–∏ –≤–Ω—É—Ç—Ä–∏. –î—É–º–∞—é, —Ç—ã –±—ã—Å—Ç—Ä–æ —Ä–∞–∑–±–µ—Ä—ë—à—å—Å—è, –≤ —á—ë–º –¥–µ–ª–æ.

–¢–∞–∫–∂–µ –±—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.2.

–ò–≥–æ—Ä—å, –≤—Å–µ –∑–∞–º–µ—á–∞–Ω–∏—è —É—á—Ç–µ–Ω—ã - –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω—è—Ç!
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –∂–µ–ª–∞—é –ø—Ä–∏—è—Ç–Ω–æ–≥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è –≤—ã–ø—É—Å–∫–Ω–æ–≥–æ –º–æ–¥—É–ª—è:)